# dependencies
node_modules/
/frontend/node_modules
/backend/__pycache__
/backend/venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Data files
data/*.csv 
